<div class="how-to-play-dialog scrollable">
    <div class="flexrow">
        <div class="text-container-300 htp-game-runs-on-tags">
            <h3>This Game Runs On Tags</h3>
            <p>Short descriptors that say what’s true and give Power to or weaken your Hero's actions: <mark
                    class="tag">handsome</mark>, <mark class="tag"></mark>spell
                of slumber</mark>, <mark class="tag orange"><i class="fa-light fa-angles-down"></i>old injury</mark>,
                <mark class="tag green">charmed.</mark>
            </p>
        </div>
        <div class="text-container-300 htp-themes">
            <h3 class="with-line">Themes</h3>
            Related sets of tags and Quests. Your Hero has four themes, each with:
            <div class="section-row">
                <div class="section-left-header"><mark class="tag">Power tags</mark><br><small>(inc. the theme's title
                        tag)</small></div>
                <div><strong>Positive tags that give Power to your actions.</strong> They can be temporarily
                    <strong>scratched</strong> <i class="burn-icon"></i> making them
                    unusable until recovered
                </div>
            </div>
            <div class="section-row">
                <div class="section-left-header"><mark class="tag orange"><i
                            class="fa-light fa-angles-down"></i>Weakness tags</mark></div>
                <div><strong>Negative tags that decrease the Power of your actions.</strong> However, they allow you to
                    mark Improve on
                    the theme.</div>
            </div>
            <div class="section-row">
                <div class="section-left-header">QUEST</div>
                <div><strong>A motivation for the theme</strong>, something your Hero seeks, defends, or upholds.</div>
            </div>
        </div>
    </div>
    <div class="flexrow">
        <div class="text-container-300 htp-story-tags">
            <h3 class="with-line">Story tags</h3>
            Temporary tags which can be positive or negative based on the situation, like <mark class="tag">staff</mark>
            or <mark class="tag">vantage point</mark>.
            <ul>
                <li>Removed when <strong>scratched</strong> <i class="burn-icon"></i></li>
                <li><strong>Expire</strong> with time.</li>
                <li>Recorded in <strong>backpack</strong> (if yours) or <strong>Tracking Card</strong> (if general).
                </li>
            </ul>
        </div>
        <div class="text-container-300 htp-statuses">
            <h3 class="with-line"><span class="status-tag-header">Statuses</span></h3>
            Tags that describe conditions with a tier from 1 (mild) to 6 (deadly or transformative), like <mark
                class="status">wounded-3</mark> or <mark class="status">glad-2</mark>.
            <ul>
                <li><strong>Recorded on Tracking Cards</strong>. Write the status tag and mark its tier on the card.
                </li>
                <li><strong>Stacking</strong>: If you gain the same or similar status again, mark the new tier on the
                    same card. If the
                    box for that tier is already marked, mark the box to its right. The
                    highest marked box is the current tier.</li>
                <li><strong>Reducing</strong>: Move all the marked boxes a number of slots
                    to the left (remove if below 1).</li>
                <li><strong>Limits</strong>: At tier 5, you are overcome by the status. At tier 6, it kills or
                    transforms you.</li>
            </ul>
        </div>
    </div>
    <div class="flexrow">
        <div class="text-container-300 htp-hero-development">
            <h3 class="with-line">Hero Development</h3>
            <p>Mark <strong>Improve</strong> whenever one of your weakness
                tags is invoked. At 3 Improve, the theme gets an
                <strong>Improvement</strong> (usually, a new power tag).
            </p>
            <p>Mark <strong>Abandon</strong> whenever you ignore or betray your
                Quest. At 3 Abandon, your theme is <strong>replaced</strong>.</p>
            <p>Mark a <strong>Milestone</strong> whenever you achieve a goal of
                your Quest. At 3 Milestones, your theme <strong>evolves</strong>.</p>
            <p>Replacing or evolving a theme gains you <strong>Promise</strong>,
                which unlocks greater <strong>Moments of Fulfillment</strong></p>
        </div>
        <div class="text-container-300 htp-fellowship">
            <h3 class="with-line">The Fellowship</h3>
            <div class="section-row">
                <div class="section-left-header"><mark class="tag">Power tags</mark></div>
                <div><strong>Single-use</strong> (Scratched <i class="burn-icon"></i> when invoked. Cannot be burnt for
                    Power.) Recovered
                    during camping.</div>
            </div>
            <div class="section-row">
                <div class="section-left-header"><mark class="tag orange"><i
                            class="fa-light fa-angles-down"></i>Weakness tags</mark></div>
                <div>Mark Improve on the Fellowship theme when invoked.</div>
            </div>
            <div class="section-row">
                <div class="section-left-header"><mark class="tag">Relationship tags</mark></div>
                <div><strong>Single-use</strong> story tags (positive or negative) each Hero has with each other Hero.
                    Recreated during
                    camping.</div>
            </div>
        </div>
    </div>
    <div class="flexrow">
        <div>
            <div class="text-container-large-paper-background htp-during-a-scene">
                <h3 class="with-line">During a Scene</h3>
                <p>Repeat the game loop – <strong>Establish</strong> - <strong>Action</strong> -
                    <strong>Consequences</strong> – until the stakes are won, lost, or deferred, or the scene otherwise
                    concludes.
                    Continue to the next scene or to camping.
                </p>
                <h4>ESTABLISH</h4>
                <strong>The Narrator...</strong>
                <ul>
                    <li>(Re)Describes the scene</li>
                    <li>Highlights the <strong>stakes</strong> (why this scene matters)</li>
                    <li>Introduces Challenges</li>
                    <li>Makes <strong>Threats</strong> (actions initiated by Challenges)</li>
                    <li>Asks the player(s) <strong>“What do you do?”</strong> and gives the spotlight to a Hero
                        (different
                        Hero each turn)</li>
                </ul>
                <h4>ACTION</h4>
                <p><strong>The Hero in the spotlight describes their action.</strong></p>
                <p><strong>The Narrator chooses how to determine the outcome:</strong></p>
                <ul>
                    <li>Simple (Narrator’s call)</li>
                    <li>Quick (Roll)</li>
                    <li>Detailed (Roll + Spend)</li>
                </ul>
                <h4>CONSEQUENCES</h4>
                <p><strong>The Narrator can deliver Consequences if</strong></p>
                <ul>
                    <li>A Threat was ignored (Challenge action materializes)</li>
                    <li>The Hero’s action (roll) had Consequences</li>
                    <li>The Narrator invokes a Hero’s weakness tag for Consequences (Hero marks Improve)</li>
                </ul>
                <strong>The Narrator decides on Consequences</strong>
                <ul>
                    <li>Narrative</li>
                    <li>Give/scratch a tag (any number of tags) or give/ reduce a status (any tier). <strong>The Hero
                            may
                            react</strong></li>
                </ul>
            </div>
            <div class="text-container-300 htp-camping">
                <h4 class="with-line">Camping</h4>
                <p>The Narrator <strong>expires story tags.</strong></p>
                <p></p>Each Hero chooses <strong>2 activities</strong> (or 3 with Consequences):
            
            <ul>
                <li><strong>REST:</strong> Recover some statuses and scratched
                    power tags (Narrator's call).</li>
                <li><strong>REFLECT:</strong> Mark Improve on one theme.</li>
                <li><strong>CAMP ACTION:</strong> Count Power and spend half
                    of it without rolling (rounded up), or roll.</li>
            </ul>

                Each Hero chooses to recover a Fellowship power
                tag or create a new relationship tag with another
                Hero (max 1 per fellow Hero).
            </div>
        </div>
    
    <div class="flexcol">
        <div class="text-container-300 htp-challenges">
            <h4 class="with-line">CHALLENGES</h4>
            <p>Adversaries, obstacles, and dangers that put
                your Hero or their goals at risk.</p>
            <p>Challenges act against you by making Threats
                (during Establish) and delivering Consequences.</p>
            <p>You overcome Challenges with a Success (Quick)
                or by giving them statuses high enough to max
                their Limits, e.g., harm 4 , banish 2 , or convince 3 ,
                (Detailed), Narrator's choice.</p>
        </div>
        <div class="text-container-500 htp-making-a-roll">
            <h4 class="with-line">MAKING A ROLL</h4>
            <strong>Count the action’s Power</strong>
            <p>Invoke relevant tags and statuses of the Hero,
                of the target, in the environment, etc.</p>
            <ul>
                <li>+/-1 Power for every positive/negative tag</li>
                <li>+3 Power for scratching <i class="burn-icon"></i> your Hero's positive tag
                    (Burning A Tag For Power)</li>
                <li>+/- tier of best and worst status</li>
                <li>+/-3 Power if Favored/Imperiled due to Might
                    (page 167) (+/-6 Power if Extremely)</li>
            </ul>
            Mark Improve for every invoked weakness tag.
            Roll two six-sided dice (2d6) and add Power.
        </div>
        <div class="text-container-300 htp-spending-power">
            <h4 class="with-line">SPENDING POWER</h4>
            <p>Spend your Power on your action's <strong>Effects</strong>
                (spend 1 when Power is zero or less):</p>
            <ul>
                <li>Add, scratch , or recover a tag (2 Power)</li>
                <li>Give or reduce a status (1 Power per tier)</li>
                <li>Discover a valuable detail (1 Power)</li>
                <li>Extra feat in addition to other Effects (1 Power)</li>
                <li>(Add a single-use tag with last 1 Power)</li>
            </ul>
        </div>
        <div class="text-container-300 htp-reaction">
            <h4 class="with-line">REACTION</h4>
            <p>If the Narrator allows it, <strong>the Hero can take a
                    reaction</strong> to lessen Consequences at the cost of 1 Power per status tier, 2 Power per
                tag:</p>
            <p>Describe, count Power, and roll (as in Detailed).</p>
            <ul>
                <li>10 or more (or <i class="icon-dice-6"></i> <i class="icon-dice-6"></i>): Spend Power+1 on any Effect.</li>
                <li>7 to 9: Spend Power only to lessen</li>
                <li>6 or less (or <i class="icon-dice-1"></i> <i class="icon-dice-1"></i>): Take
                    Consequences as-is.</li>
            </ul>
        </div>
    </div>
</div>
