.message-content {
    .selected-tags {
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: Labrada, serif;
        font-size: 0.9em;
        gap: 2px;
        color: $c-styled-text;
        font-weight: 400;


        .tag {
            background-color: gray;
            padding: 2px 2px;
            text-align: center;
            border-radius: 5px;

            &.positive {
                background-color: $c-tag-green;
            }

            &.burned {}

            &.negative {
                background-color: $c-tag-orange;
            }
        }
    }
}

.consequence-container {
    text-align: center;
    padding-top: 5px;
    font-family: Labrada, serif;

    .heading {
        font-size: 2em;
        font-weight: bold;
    }
}

.consequence-result-negative {
    background-image: url("../assets/outcome-bg-litm-negative.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

.consequence-result-neutral {
    background-image: url("../assets/outcome-bg-litm-neutral.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

.consequence-result-positive {
    background-image: url("../assets/outcome-bg-litm-positive.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5px;
}

.consequence-result-icon {
    position: relative;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
    display: inline-block;
    top: 10px;
    left: -5px;

    &.negative {
        background-image: url("../assets/icons/icon-litm-negative.svg");
    }

    &.positive {
        background-image: url("../assets/icons/icon-litm-positive.svg");
    }

    &.neutral {
        background-image: url("../assets/icons/icon-litm-neutral.svg");
    }
}

.power-counter{
    font-weight: 800;
}