.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    width: 100%;
    flex: 1;
    gap: 0.5rem;

    display: flex;
    flex: 1;
    flex-direction: row;
    display: flex;

    &.npc,
    &.journey {
      display: flex;
      flex-direction: column;
      color: $c-styled-text;
    }

    .change-custom-background-btn{
      margin-left: auto;
      margin-right: auto;
      margin: 5px;
    }
    .col-character-name{
      min-width: var(--litm-premium-left-margin);
      max-width: var(--litm-premium-left-margin);
      &.edit-mode{
        width: 80%;
        max-width: 80%;
        min-width: 80%;
      }
    }
    .col-main {
      min-width: 150px;
    }

    .col-status {
      flex-grow: 0.75;
    }
  }

  h1.charname {
    padding: 0px;
    border-bottom: 0;
    width: 100%;
    text-align: center;

    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }

  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.form-group {
  margin-bottom: 5px;
  gap: 5px;
}

.table-group {
  display: table;
  width: 100%;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
      padding: 2px 3px;
    }
  }
}

.list-entry {
  margin-bottom: 5px;
}

.textarea-short-description {
  width: 100%;
}

p.help-text {
  font-size: 0.9em;
  color: $c-dark-styled-text;
  margin-bottom: 10px;
}