.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
  }

  .header-fields {
    width: 100%;
    flex: 1;
    gap: 0.5rem;

    .short-description{
      font-family: $font-primary;
      font-size: 14px;
      color: $c-dark-styled-text;
    }
  }

  h1.charname {
    padding: 0px;
    border-bottom: 0;
    width: 100%;
    text-align: center;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.form-group {
  margin-bottom: 5px;
  gap: 5px;
}

.table-group {
  display: table;
  width: 100%;
  .table-row {
    display: table-row;
    .table-cell {
      display: table-cell;
      padding: 2px 3px;
    }
  }
}
