.item-storytag-line, .fellowship-entries{
    .fa-trash{
        color: black;
    }
}

.themebook-icon{
    .fa-pencil{
        color: black;
    }
    .fa-trash{
        color: black;
    }
}

.skull-icon{
    position: relative;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    margin-right: 2px;
    display: inline-block;
    background-image: url("../assets/icons/icon-litm-negative.svg");
}