.roll-dialog-container {
    .selected-tags-container {
        margin: 10px 0;
        gap: 2px;
        

        .tag {
            font-family: Labrada, serif;
            font-weight: bold;
            border-radius: 2px;
            text-align: center;

            &.positive {
                background-color: $c-tag-green;
                border-radius: 5px;
                color: $c-styled-text;
                padding: 2px;
            }

            &.negative {
                background-color: $c-tag-orange;
                border-radius: 5px;
                color: $c-styled-text;
                padding: 2px;
            }
        }

        .tag-icon{
            float:left;
        }
    }

    .power-label{
        width: 100%;
        text-align: center;
        display: block;
        font-size: large;
    }

      .might-label{
        width: 100%;
        text-align: center;
        display: block;
        font-size: large;
    }

    .might-scale-entry{
    text-align: center;
}

.might-scale-radio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}