.roll-dialog-container {
    .selected-tags-container {
        margin: 10px 0;
        gap: 2px;
        

        .tag {
            font-family: Labrada, serif;
            font-weight: bold;
            border-radius: 2px;
            text-align: center;

            &.positive {
                background-color: $c-tag-green;
                border-radius: 5px;
                color: $c-styled-text;
                padding: 2px;
            }

            &.negative {
                background-color: $c-tag-orange;
                border-radius: 5px;
                color: $c-styled-text;
                padding: 2px;
            }
            &.unapplied-preview{
                opacity: 0.75;
                background-color: $c-tag-gray;
                border-radius: 5px;
                color: $c-styled-text;
                padding: 2px;
            }

            &.clickable{
                cursor: pointer;
            }
        }

        .tag-icon{
            float:left;
        }

        .deselect-icon{
            float:right;
            cursor: pointer;
            margin-left: 5px;
        }
    }

    .power-label{
        width: 100%;
        text-align: center;
        display: block;
        font-size: large;
    }

      .might-label{
        width: 100%;
        text-align: center;
        display: block;
        font-size: large;
    }

    .might-scale-entry{
    text-align: center;
}

.might-scale-radio{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
}