#scene-data-app>section.window-content {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    -moz-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
    -webkit-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
    -o-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
    border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
    color: $c-styled-text;
}

.floating-tags-and-status-entries {
    gap: 5px;
}

.scene-app-characters {
    .character-name {
        font-family: $font-primary;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
}

.scene-app-dice-roll-modifiers {
    .listing {
        .mod-entry {
            background-color: $c-tag-yellow;
            color: $c-styled-text;
            font-family: $font-primary;
            border-radius: 2px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2px;

            &.positive {
                background-color: $c-tag-green;
            }

            &.negative {
                background-color: $c-tag-orange;
            }
        }
    }

}


.character-container {
    .selected-tags-container {
        margin: 10px 0;
        gap: 2px;


        .tag {
            font-family: Labrada, serif;
            font-weight: bold;
            border-radius: 2px;
            text-align: center;

            &.positive {
                background-color: $c-tag-green;
                border-radius: 5px solid black;
                color: $c-styled-text;
                padding: 2px;
            }

            &.negative {
                background-color: $c-tag-orange;
                border-radius: 5px solid black;
                color: $c-styled-text;
                padding: 2px;
            }
        }
    }
}