#scene-data-app > section.window-content {
        background-image: url("../assets/bg2-litm.webp");
        background-repeat: no-repeat;
        background-size: cover;
        color: $c-styled-text;
}

.floating-tags-and-status-entries{
    gap: 5px;
}

.scene-app-characters{
    .character-name{
        font-family: $font-primary;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }
}

