&.sheet.actor.npc {
  .window-content {
    background-image: url("../assets/bg-yellow-old-paper-textures.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
  }

  h1.npc-name {
      font-family: $font-primary;
      font-size: 36px;
      color: $c-styled-text;
      width: auto;
    input {
      height: 1.5em;
    }
  }

  .npc-types {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    .field-roles {
      flex-basis: 80%;
    }
    .field-difficulty {
      flex-basis: 20%;
    }
  }

  .npc-roles {
    font-family: var(--litm-font-accent);
    font-size: large;
    text-align: center;
  }

  .npc-short-description textarea {
    width: 100%;
    }
}

&.sheet.item {
  .window-content {
    background-image: url("../assets/bg-yellow-old-paper-textures.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
  }

  color: $c-styled-text;

  h2 {
    color: $c-styled-text;
  }
}

&.sheet.actor.litm-character {
  .window-content {
    background-image: url("../assets/default_sheet_background.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
    background-size: cover;
  }
}

&.sheet.actor.litm-fellowship-themecard {
  .window-content {
    background-image: url("../assets/bg-yellow-old-paper-textures.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
  }
}

&.sheet.actor.litm-journey {
  .window-content {
    background-image: url("../assets/bg-yellow-old-paper-textures.webp");
    background-repeat: no-repeat;
    row-gap: 0.5em;
  }

  h1.journey-name {
      font-family: $font-primary;
      font-size: 36px;
      color: $c-styled-text;
      width: auto;
    }

    .short-description{
      font-family: $font-primary;
      color: $c-styled-text;
    }
}

.storytag-item-editable {
  flex-grow: 8;
}

.character-updatable-fellowship {
  flex-grow: 4;
}

.item-powertag-line {
  margin: 5px;
  color: $c-styled-text;
  min-height: 23px;
  border-bottom: 1.5px solid rgb(0, 0, 0, 0.1);
}

.item-storytag-line {
  margin: 5px;
}

.item-weakness-line {
  margin: 5px;
  color: $c-styled-text;

  input {
    border: 2px solid red;

    // inputs of type checkbox have no red border
    &[type="checkbox"] {
      border: none;
    }
  }
}

.litm-character-themebooks-container {
  /*background-image: url("../assets/bg2-litm.webp");
    background-repeat: no-repeat;
    background-size: cover;*/
  margin: 5px;
}

// .npc-beautified-container {
//     background-image: url("../assets/bg2-litm.webp");
//     background-repeat: no-repeat;
//     background-size: cover;
//     padding: 20px;
//     color: black;
// }

.npc-beautified-container-stats {
  gap: 10px;
  width: 100%;
  align-items: start;

  .left-half {
    flex-grow: 0.5;
  }

  .right-half {
    flex-shrink: 1;
  }
}

.npc-edit-icon {
  flex-grow: 0.1;
  text-align: center;
}

.npc-subtitle-container-c::before {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #6b5b4d;
}

.npc-subtitle-container-c::after {
  content: "";
  flex: 1;
  height: 2px;
  background-color: #6b5b4d;
}

.npc-subtitle-container-c {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 3px 0 10px 0;
  opacity: 0.75;
  color: var(--text-hud-subtitles-color);
  font-weight: bold;
  font-size: large;
}

.npc-subtitle-text {
  text-transform: uppercase;
  font-family: Labrada, serif;
  color: #6b5b4d;
  font-size: 0.8rem;
  font-weight: 800;
  white-space: nowrap;
  margin: 3px 2px 3px 2px;
  text-shadow: 1px 1px 2px rgb(255, 249, 249);

  &.bold {
    font-weight: 1200;
  }
}

.npc-limit-value-armor {
  background-image: url("../assets/icons/icon-litm-limit-shield.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  left: -0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 1.2em;
  height: auto;
  text-align: center;
  font-size: 1rem;
  color: white;
}

.npc-tag-name,
.npc-limit-name {
  font-family: $font-primary;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 0.9rem;
  clip-path: none;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-transform: uppercase;
  border-radius: 2px;
}

.npc-tag-name span {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.npc-limit-name {
  background: $c-tag-red;
  padding-left: 0.2em;
  padding-right: 1em;
}

.npc-tags-list,
.npc-limits-list {
  align-items: center;
}

.npc-tag-item,
.npc-limit-item {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  color: $c-styled-text;
  font-family: $font-primary;
}

.trash-icon-container {
  flex-grow: 0;
  color: black;
}

.value-input-small {
  width: 100px;
  flex-grow: 0.05;
}

.value-input-huge {
  width: 100px;
  flex-grow: 20;
}

.npc-threats-and-consequences-container {
  font-family: Labrada, serif;
  color: $c-styled-text;

  .entry-name {
    font-weight: bold;
    background-color: $c-faint;
    padding: 2px 4px;
    text-transform: uppercase;
    clip-path: polygon(0 0.2em,
        0.3em 0.2em,
        0.3em 0,
        calc(100% - 0.3em) 0,
        calc(100% - 0.3em) 0.2em,
        100% 0.3em,
        100% calc(100% - 0.2em),
        calc(100% - 0.2em) calc(100% - 0.2em),
        calc(100% - 0.2em) 100%,
        0.2em 100%,
        0.3em calc(100% - 0.2em),
        0 calc(100% - 0.2em));
  }

  ul.entry-list {
    padding: 0;
  }

  li.entry-item {
    list-style: none;
    padding-left: 1.5em;
    background-image: url("../assets/icons/icon-litm-consequence.svg");
    background-repeat: no-repeat;
    background-position: -0.5em 0;
    background-size: 2em 1.5em;

    .tag {
      background-color: $c-tag-yellow;
      border-radius: 4px;
      padding: 0 2px;
    }

    .status {
      background-color: $c-tag-green;
      border-radius: 4px;
      padding: 0 2px;
    }
  }
}

.fellowship-promises {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.sheet-header {
  font-family: Labrada, serif;

  .character-name-container{
    position: absolute;
    top: 32rem;
    max-width: 300px;
    width: 300px;
  }
  
  label {
    font-family: var(--font-body);
  }

  .portrait-img {
    height: 150px;
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 6px;
  }

  .title {
    display: flex;
    flex-direction: row;
    column-gap: 1em;
    justify-content: center;
  }

  .short-description {
    font-family: $font-primary;
    font-size: 14px;
    color: var(--litm-color-accent);
  }

  .difficulty-icons {
    display: flex;
    flex-direction: row;

    img {
      height: 26px;
      margin-top: 7px;
    }
  }

  .short-description {
    text-align: center;
    flex-grow: 1;
  }
}

.editModeToggle {
  float: right;
}

.threat-and-consequence-container-entry {
  padding: 5px;
  margin-bottom: 10px;
}

.npc-biography {
  font-family: $font-primary;

  .tag {
    background-color: $c-tag-yellow;
    border-radius: 4px;
  }

  .status {
    background-color: $c-tag-green;
    border-radius: 4px;
  }
}

.tab-description {
  font-family: $font-primary;
  color: $c-dark-styled-text;
  height: 100%;

  .tag {
    background-color: $c-tag-yellow;
    border-radius: 4px;
  }

  .status {
    background-color: $c-tag-green;
    border-radius: 4px;
  }
}

.header-right-side {
  flex-grow: 1;
}

.roll-button {
  margin: 5px;
  //margin-top: 25px;
  font-family: $font-primary;
  width: 100%;
}

.roll-buttons-container {
  padding-right: 10px;
}

.powertags-container {
  margin: 2px;
  flex-grow: 1;
}

.fts-input-name {
  flex-grow: 1;
  // margin-right: 2px;
  // height: 16px;
}

.fts-input-value {
  flex-shrink: 2;
  // flex-grow: 0.5;
  // height: 16px;
}

.fts-selectable {
  cursor: pointer;
  position: relative;

  /*  &.selected {
    @include ts-selection;
  }*/
  &.selected::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(5px + 100%);
    background: url("../assets/brush.svg") no-repeat center;
    background-blend-mode: color;
    background-size: contain;
    opacity: 0.5;
    top: 0px;
    left: 45%;
    transform: translateX(-50%);

  }
}

.fts-input-marking {
  flex-grow: 0.1;
  text-align: center;
  color: white;
  cursor: pointer;

  i.marking-circle {
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    font-family: $font-primary;
    font-style: normal;
  }

  i.active {
    background-color: darkred;
  }
}

.fts-tag-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.25em;
}

.fts-markings-container {
  text-align: center;
  margin-top: 5px;
}

.floating-tags-and-status-container {
  color: $c-styled-text;
  display: flex;
  flex-direction: column;
  float: right;
}

.floating-tags-and-status-entries {
  display: flex;
  flex-direction: column;
  row-gap: 1em;

  &.grid {
    display: grid;
  }
}

.container-card-with-border {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  -webkit-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  -o-border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
  border-image: url("../assets/bg2-litm.webp") 10 10 10 10 fill stretch stretch;
}

.container-themebook-with-border {
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  -moz-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -webkit-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  -o-border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
  border-image: url("../assets/litm-themebook-bg.webp") 10 10 10 10 fill stretch stretch;
}

.tab-notes,
.tab-biography {
  // padding: 10px;
  // background-image: url("../assets/bg2-litm.webp");
  // background-repeat: no-repeat;
  // background-size: cover;
  height: 100%;
  color: $c-styled-text;
  font-family: $font-primary;
  padding: 1em;
  font-size: 1.1em;
  overflow: hidden auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $c-text-redish;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 900;
    }

  h3 {
        // if want to display the image assets/icons/header-backline after the header text in the same line
        display: flex;
        align-items: center;

        &.with-line {
            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 6px;
                background-image: url(../assets/header-backline.webp);
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }

    .line-with-image {
        img {
            display: inline;
            margin-right: 3px;
        }

        p {
            display: inline;
        }
    }
}

section [data-group="litm-character-sheet"] {

  .tab-biography,
  .tab-notes {
    margin-left: var(--litm-premium-left-margin);
  }
}

.lock-toggle-container {
  cursor: pointer;
  color: black;

  &.locked {
    color: darkred;
  }
}

.empty-message {
  font-family: $font-primary;
  font-size: 1.2em;
  font-style: italic;
  color: $c-styled-text;
  margin: 10px;
  text-align: center;
}

.character-sheet-divider {
  align-items: start;


  .right-side {
    margin-left: var(--litm-premium-left-margin);

    &.edit-mode{
      margin-left: 0;
    }
  }
}

.npc-sheet-divider {
  height: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: space-between;
}

.special-improvement-section-label {
  font-family: Labrada, serif;
  font-weight: 800;
  text-align: center;
  color: $c-brown;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  white-space: nowrap;
  margin: 3px 2px 3px 2px;
  text-shadow: 1px 1px 2px rgb(255, 249, 249);
}

section [data-group="npc-sheet"] {
  legend {
    font-family: $font-primary;
    font-weight: bold;
    color: black;
  }

  .table-cell {
    font-family: $font-primary;
    color: black;
    font-weight: bold;
  }
}

nav.tabs [data-tab] {
  font-family: $font-primary;
  color: black;
  font-weight: bold;

  .active {
    color: black;
  }
}

.mode-toggle-button {
  margin-inline-end: auto;
}

.quest-textarea {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.challenge-entry-container,
.npc-challenges-container {
  font-family: $font-primary;
  color: $c-styled-text;



  h2 {
    font-family: $font-primary;
    color: $c-styled-text;
    font-size: 1.3em;
  }

  .list-entries {
    margin-top: 20px;

    .entry-content {
      flex-direction: row;
      display: flex;
    }

    .entry-content-no-edit {}
  }
}

.tab.journey-consequences {
  a {
    font-family: $font-primary;
    color: $c-styled-text;
  }
}

mark {
  padding-left: 2px;
  padding-right: 2px;
  background-color: $c-tag-yellow;
  border-radius: 2px;
  font-style: italic;

  .status {
    background-color: $c-tag-yellow;
  }

  &.green {
    background-color: $c-tag-green;
  }

  &.orange {
    background-color: $c-tag-orange;
  }

  &.power {
    background-color: $c-tag-power;
    padding-left: 20px;
    padding-right: 20px;
    clip-path: polygon(
      0% 50%,        // linke Spitze
      10% 0%,        // linke obere Schr채ge
      90% 0%,        // rechte obere Schr채ge
      100% 50%,      // rechte Spitze
      90% 100%,      // rechte untere Schr채ge
      10% 100%       // linke untere Schr채ge
    );
  }
}