.item-powertag-line {
    margin: 5px;
}

.item-weakness-line {
    margin: 5px;

    input {
        border: 2px solid red;
    }
}

.quest-container {
    margin-left: auto;
    margin-right: auto;
}

.litm-character-themebooks-container {
    /*background-image: url("../assets/bg2-litm.webp");
    background-repeat: no-repeat;
    background-size: cover;*/
    margin: 5px;
}


.npc-beautified-container {
    background-image: url("../assets/bg2-litm.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: black;



}

.npc-beautified-container-stats {
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    align-items: start;

    .left-half {
        flex-grow: 0.5;
    }

    .right-half {
        margin-left: 10px;
    }
}

.npc-edit-icon {
    flex-grow: 0.1;
    text-align: center;
}

.npc-subtitle-container-c::before {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #6b5b4d
}

.npc-subtitle-container-c::after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #6b5b4d
}

.npc-subtitle-container-c {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 1px 0;
    opacity: 0.75;
    color: var(--text-hud-subtitles-color);
    font-weight: bold;
    font-size: large;
    flex: auto;
}

.npc-subtitle-text {
    text-transform: uppercase;
    font-family: Labrada, serif;
    color: #6b5b4d;
    font-size: 0.8rem;
    font-weight: 800;
    white-space: nowrap;
    margin: 3px 2px 3px 2px;
    text-shadow: 1px 1px 2px rgb(255, 249, 249);
}

.npc-limit-value-armor {

    background-image: url("../assets/icons/icon-litm-limit-shield.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;


    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0;
    width: 1.2em;
    height: auto;
    text-align: center;
    font-size: 1rem;
    color: white;
}

.npc-limit-name {
    font-family: $font-primary;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: none;
    color: black;
    font-size: 0.9rem;
    clip-path: none;
    padding: 0;
    text-transform: uppercase;
}


.npc-limits-list {
    align-items: center;
}

.trash-icon-container {
    flex-grow: 0.1;
}

.value-input-small {
    width: 100px;
    flex-grow: 0.05;
}

.value-input-huge {
    width: 100px;
    flex-grow: 20;
}

.npc-threats-and-consequences-container {
    font-family: Labrada, serif;

    .entry {
        margin-bottom: 10px;
    }

    .entry-list {
        margin-left: 25px;
    }

    .entry-name {
        font-weight: bold;
    }

    .entry-item {
        margin-top: 5px;

        .tag {
            background-color: $c-tag-yellow;
            border-radius: 4px;
        }

        .status {
            background-color: $c-tag-green;
            border-radius: 4px;
        }
    }
}


.fellowship-promises {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.sheet-header {
    h1 {
        font-family: $font-primary;
    }

    &.stylized-background {
        background-image: url("../assets/bg2-litm.webp");
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            color: $c-styled-text;
            display: flex;
            justify-content: center;
        }

        .short-description {
            color: $c-styled-text;
            display: flex;
            justify-content: center;
            font-family: $font-primary;
            font-weight: bold;
            font-size: 1.1em;
        }
    }

    .difficulty-icons {
        margin-top: 5px;
        display: flex;
        justify-content: center;
    }
}

.editModeToggle {
    float: right;
}

.threat-and-consequence-container-entry {
    background-color: gray;
    padding: 5px;
    margin-bottom: 10px;
}

.npc-biography {
    font-family: $font-primary;

    .tag {
        background-color: $c-tag-yellow;
        border-radius: 4px;
    }

    .status {
        background-color: $c-tag-green;
        border-radius: 4px;
    }
}

.header-right-side {
    flex-grow: 1;
}

.roll-button {
    margin: 5px;
    font-family: $font-primary;
}

.roll-buttons-container {
    padding-right: 10px;
}

.powertags-container {
    margin: 2px;
}

.fts-input-name {
    flex-grow: 2;
    margin-right: 2px;
    height: 16px;
}

.fts-input-value {
    flex-grow: 0.5;
    height: 16px;
}

.fts-input-marking {
    flex-grow: 0.1;
    text-align: center;
    color: white;
    cursor: pointer;

    i.marking-circle {
        border-radius: 50%;
        background-color: black;
        width: 20px;
        height: 20px;
        display: inline-block;
        font-family: $font-primary;
        font-style:normal;
    }

    i.active {
        background-color: darkred;
    }
}

.fts-markings-container {
    text-align: center;
    margin-top: 5px;
}


.floating-tags-and-status-container {
    padding: 10px;
    background-image: url("../assets/bg2-litm.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: $c-styled-text;
}

.portrait-img {
    border: 2px solid black;
}

.tab-notes,
.tab-biography {
    padding: 10px;
    background-image: url("../assets/bg2-litm.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: $c-styled-text;
    font-family: $font-primary;
}

.lock-toggle-container {
    color: black;
    font-size: 1.5em;

    &.locked {
        color: darkred;
    }
}

.empty-message {
    font-family: $font-primary;
    font-size: 1.2em;
    font-style: italic;
    color: $c-styled-text;
    margin: 10px;
    text-align: center;
}



.character-sheet-divider {
    align-items: start;

    .right-side {
        flex-grow: 0.25;
    }
}

.floating-tag-and-status-entry {
    margin-bottom: 20px;
}

.npc-sheet-divider {
    align-items: start;

    .right-side {
        flex-grow: 0.25;
    }
}