.tab {
    flex-grow: 1;
}

nav.tabs {}

nav.tabs [data-group="npc-sheet"] {
    color: black;
    font-family: $font-primary;
    font-weight: bold;
}

nav.tabs [data-group="litm-character-sheet"] {
    color: black;
    font-family: $font-primary;
    font-weight: bold;
}