.litm-pc-powertag {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;

    &:hover {
        cursor: pointer;
        text-shadow: 0 0 15px rgb(143, 255, 105);
        font-weight: bold;
    }

    &.selected {
        text-shadow: 0 0 15px rgb(64, 255, 0);
        font-weight: bold;
    }

    &.burned {
        text-decoration: line-through;
        color: gray;
    }

    &.first {
        font-weight: bolder;
        font-size: 1.1em;
    }
}

.litm-pc-weakness {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;

    &:hover {
        cursor: pointer;
        text-shadow: 0 0 15px rgb(242, 255, 57);
        font-weight: bold;
    }

    &.selected {
        text-shadow: 0 0 15px rgb(242, 255, 57);
        font-weight: bold;
    }
}

.litm-pc-fellowship-relationship-companion{
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    margin-right: 5px;
}

.litm-pc-fellowship-relationship {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;

    &:hover {
        text-shadow: 0 0 15px rgb(64, 255, 0);
        font-weight: bold;
    }

    &.selected {
        text-shadow: 0 0 15px rgb(64, 255, 0);
        font-weight: bold;
    }
}

.litm-pc-quintessence {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;

    &.selected {
        text-shadow: 0 0 15px rgb(64, 255, 0);
        font-weight: bold;
    }
}

.burn-indicator {
    flex-grow: 0.15;
}

.burn-icon {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url("../assets/icons/icon-burn-scratch-empty.svg");

    &.to-burn {
        background-image: url("../assets/icons/icon-burn-scratch-to-burn.svg");
    }
}

.tag-icon-litm-adventure {
    mask-image: url("../assets/icons/icon-adventure-litm.svg");
    background-color: $c-icon-red;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-origin {
    mask-image: url("../assets/icons/icon-origin-litm.svg");
    background-color: $c-icon-green;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-variable {
    mask-image: url("../assets/icons/icon-variable-litm.svg");
    background-color: $c-icon-brown;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-greatness {
    mask-image: url("../assets/icons/icon-greatness-litm.svg");
    background-color: $c-icon-blue;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-consequence {
    mask-image: url("../assets/icons/icon-litm-consequence.svg");
    background-color: $c-black;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.npc-tag {
    background-color: $c-tag-yellow;
}

.npc-tag-status-value {
    background-color: $c-tag-green;
}

.fts-input-name.tag {
    background-color: $c-tag-yellow;
    color: $c-styled-text;
    font-family: $font-primary;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.fts-input-name.status {
    background-color: $c-tag-green;
    color: $c-styled-text;
    font-family: $font-primary;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}

.npc-limit-description {
    .tag {
        background-color: $c-tag-green;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
    }

    .status {
        background-color: $c-tag-yellow;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
    }
}