.litm-pc-powertag {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    position: relative;
    text-align: center;

    &:hover {
        cursor: pointer;
    }

    /*&.selected {
        @include ts-selection;
    }*/

    &.selected::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(5px + 100%);
        background: url("../assets/brush.svg") no-repeat center;
        background-blend-mode: color;
        background-size: contain;
        opacity: 0.5;
        top: 0px;
        left: 45%;
        transform: translateX(-50%);

    }

    &.burned {
        text-decoration: line-through;
        color: gray;
    }

    &.first {
        font-weight: bolder;
        font-size: 1.1em;
    }

    &.empty {
        color: rgba(0, 0, 0, 0.5);

        &:hover {
            cursor: default;
        }
    }
}



.litm-pc-storytag {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    min-height: 23px;
    border-bottom: 1.5px solid rgb(0, 0, 0, 0.1);
    position: relative;
    text-align: center;
    font-style: italic;

    &:hover {
        cursor: pointer;
    }

    /*&.selected {
        @include ts-selection;
    }*/

    &.selected::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(5px + 100%);
        background: url("../assets/brush.svg") no-repeat center;
        background-blend-mode: color;
        background-size: contain;
        opacity: 0.5;
        top: 0px;
        left: 45%;
        transform: translateX(-50%);

    }

    &.burned {
        text-decoration: line-through;
        color: gray;
    }

    &.first {
        font-weight: bolder;
        font-size: 1.1em;
    }
}

.special-improvement-label {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    text-align: center;
}

.litm-pc-weakness {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    position: relative;
    text-align: center;
    font-style: italic;

    &:hover {
        cursor: pointer;
    }

    /*&.selected {
        @include ts-selection;
    }*/
    &.selected::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(5px + 100%);
        background: url("../assets/brush.svg") no-repeat center;
        background-blend-mode: color;
        background-size: contain;
        opacity: 0.5;
        top: 0px;
        left: 45%;
        transform: translateX(-50%);

    }
}

.litm-pc-fellowship-relationship-companion {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    margin-right: 5px;
}

.litm-pc-fellowship-relationship {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    position: relative;
    text-align: center;

    &:hover {
        cursor: pointer
    }

    /*&.selected {
        @include ts-selection;
    }*/

     &.selected::before {
        content: "";
        position: absolute;
        width: 100%;
        height: calc(5px + 100%);
        background: url("../assets/brush.svg") no-repeat center;
        background-blend-mode: color;
        background-size: contain;
        opacity: 0.5;
        top: 0px;
        left: 45%;
        transform: translateX(-50%);

    }

    &.scratched {
        text-decoration: line-through;
        color: gray;
    }
}

.litm-pc-quintessence {
    font-family: Labrada, serif;
    font-weight: normal;
    color: black;
    flex-grow: 8;

    &.selected {
        text-shadow: 0 0 15px rgb(64, 255, 0);
        font-weight: bold;
    }
}

.burn-indicator {
    flex-grow: 0.15;
    align-self: flex-start;
}

.weakness-indicator{
    flex-grow: 0.15;
    align-self: flex-start;
}

.burn-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    background-image: url("../assets/icons/icon-burn-scratch-empty.svg");

    &.to-burn {
        background-image: url("../assets/icons/icon-burn-scratch-to-burn.svg");
    }
}

.tag-icon-litm-adventure {
    mask-image: url("../assets/icons/icon-adventure-litm.svg");
    background-color: $c-icon-red;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-origin {
    mask-image: url("../assets/icons/icon-origin-litm.svg");
    background-color: $c-icon-green;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-variable {
    mask-image: url("../assets/icons/icon-variable-litm.svg");
    background-color: $c-icon-brown;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-greatness {
    mask-image: url("../assets/icons/icon-greatness-litm.svg");
    background-color: $c-icon-blue;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.tag-icon-litm-consequence {
    background-image: url("../assets/icons/icon-litm-consequence.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.npc-tag {
    background-color: $c-tag-yellow;
}

.npc-tag-status-value {
    background-color: $c-tag-green;
}



.fts-input-name {
    &.tag {
        background-color: $c-tag-green;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
    }

    &.status {
        background-color: $c-tag-green;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
    }

    &.negative {
        background-color: $c-tag-orange;
    }
}

.fts-tag-modifier-toggle {
    float: left;
    cursor: pointer;
}

.fts-tag-status-toggle {
    float: right;
    cursor: pointer;
}

.npc-limit-description {
    .tag {
        background-color: $c-tag-green;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
    }

    .status {
        background-color: $c-tag-yellow;
        color: $c-styled-text;
        font-family: $font-primary;
        border-radius: 2px;
        text-align: center;
        font-weight: bold;
    }
}