.themebooks-container {
    margin-top: 0px;
    margin-bottom: 5px;
    min-width: 233px;

}

.themebooks-container-stylized {


    > :nth-child(2) {
        top: 3.75rem;
        left: 11rem;
        rotate: 0deg;

        &::before {
            content: "";
            position: absolute;
            background: url(../assets/raven.webp) no-repeat center / contain;
            height: 45%;
            width: 45%;
            z-index: 3;
            pointer-events: none;
            //top: 10.5rem;
            left: -3.625rem;
            rotate: 10deg;
        }
    }

    > :nth-child(3) {
        top: 3.75rem;
        left: 11rem;
        rotate: 0deg;

        &::before {
            content: "";
            position: absolute;
            background: url(../assets/flowers-top.webp) no-repeat center / contain;
            height: 55%;
            width: 55%;
            z-index: 3;
            pointer-events: none;
            top: 10.5rem;
            left: -3.625rem;
            rotate: 10deg;
        }
    }
}

 .backpack-stylized{
        top: 3.75rem;
        left: 11rem;
        rotate: 0deg;

        &::before {
            content: "";
            position: absolute;
            background: url(../assets/necklace.webp) no-repeat center / contain;
            height: 80%;
            width: 80%;
            z-index: 3;
            pointer-events: none;
            top: 5.0rem;
            left: -4.625rem;
            rotate: 10deg;
        }
    }

    .fellowship-themebook-stylized{
        top: 3.75rem;
        left: 11rem;
        rotate: 0deg;

        &::before {
            content: "";
            position: absolute;
            background: url(../assets/middle-branches.webp) no-repeat center / contain;
            height: 80%;
            width: 80%;
            z-index: 3;
            pointer-events: none;
            top: 3rem;
            left: 4rem;
            rotate: -10deg;
        }
    }

.themebook-container {
    flex-grow: 0.25;
    padding-bottom: 8px;

    .quest-container {
        h3 {
            font-family: Labrada, serif;
            font-weight: 800;
            text-align: center;
            background-color: rgba(114, 74, 50, 0.2);
            color: $c-brown;
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 800;
            white-space: nowrap;
            margin: 3px 2px;
            padding: 2px;
        }

        .quest-text {
            font-family: var(--litm-font-accent);
            font-weight: normal;
            font-size: small;
            text-align: center;
            padding: 2px;
            color: $c-brown;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.themebook-style {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    .backpack-item-editable {}

    h2 {
        text-align: center;
        font-size: smaller;
        line-height: 1.5em;
        padding: 2px;
        height: 30px;
        margin: -7px -8px 0px -8px;
        text-transform: uppercase;
        color: $c-white;
    }

    &.litm-adventure {
        h2 {
            background-image: url("../assets/headers/header-adventure.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }

    }

    &.litm-origin {
        h2 {
            background-image: url("../assets/headers/header-origin.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }

    }

    &.litm-variable {
        h2 {
            background-image: url("../assets/headers/header-black.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    &.litm-greatness {
        h2 {
            background-image: url("../assets/headers/header-greatness.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    &.litm-backpack {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    &.litm-quintessence {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    &.litm-fellowship-relationship {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    &.litm-fellowship-themecard {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: 100% 20px;
        }
    }

    .themebook-icon {
        height: 12px;
        width: 12px;
        float: right;
        display: inline-block;
        object-fit: cover;
        margin: 2px 2px 0 0;

        &.litm-adventure {
            background-image: url('../assets/icons/icon-adventure-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-greatness {
            background-image: url('../assets/icons/icon-greatness-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-origin {
            background-image: url('../assets/icons/icon-origin-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-variable {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-backpack {
            background-image: url('../assets/icons/icon-backpack.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-quintessence {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .litm-fellowship-relationship {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .litm-fellowship-themecard {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .development-container {
        margin-top: auto;
    }

    .development-partial-container {
        color: $c-brown;
        font-family: Labrada, serif;
        font-size: xx-small;
        text-transform: uppercase;
        text-align: center;

        .marker {
            color: $c-off-white;

            &.checked {
                color: $c-styled-text;
            }
        }
    }

    .fellowship-entries {
        flex-grow: 1;
    }

    .fellowship-promises-container {
        color: $c-brown;
        font-family: Labrada, serif;
        font-size: xx-small;
        text-transform: uppercase;
        text-align: center;

        .marker {
            color: $c-off-white;

            &.checked {
                color: $c-styled-text;
            }
        }
    }
}