.themebooks-container {
    margin-top: 0px;
    margin-bottom: 5px;
}

.themebook-container {
    flex-grow: 0.25;

    .quest-container {
        h3 {
            font-family: Labrada, serif;
            font-weight: 800;
            text-align: center;
            color: #724a32;
            text-transform: uppercase;
            font-size: 0.8rem;
            font-weight: 800;
            white-space: nowrap;
            margin: 3px 2px 3px 2px;
            text-shadow: 1px 1px 2px rgb(255, 249, 249)
        }

        .quest-text {
            font-family: Labrada, serif;
            font-weight: normal;
            font-size: 0.8rem;
            padding: 2px;
            color: #724a32;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.themebook-style {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

    .themebook-icon {
        color: black;
        flex-grow: 0.1;
    }

    .backpack-item-editable {}

    h2 {
        text-align: center;
        font-size: 1.1em;
        padding: 2px;
        height: 30px;
        margin:0;
    }

    &.litm-adventure {
        h2 {
            background-image: url("../assets/headers/header-adventure.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }

    }

    &.litm-origin {
        h2 {
            background-image: url("../assets/headers/header-origin.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }

    }

    &.litm-variable {
        h2 {
            background-image: url("../assets/headers/header-black.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.litm-greatness {
        h2 {
            background-image: url("../assets/headers/header-greatness.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.litm-backpack {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.litm-quintessence {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.litm-fellowship-relationship {
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &.litm-fellowship-themecard{
        h2 {
            background-image: url("../assets/headers/header-backpack.webp");
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .themebook-icon {
        height: 12px;
        width: 12px;
        float: right;
        display: inline-block;
        object-fit: cover;
        margin-right: 2px;

        &.litm-adventure {
            background-image: url('../assets/icons/icon-adventure-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-greatness {
            background-image: url('../assets/icons/icon-greatness-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-origin {
            background-image: url('../assets/icons/icon-origin-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-variable {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-backpack {
            background-image: url('../assets/icons/icon-backpack.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        &.litm-quintessence {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .litm-fellowship-relationship {
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }

        .litm-fellowship-themecard{
            background-image: url('../assets/icons/icon-variable-litm.svg');
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    .development-container{
        margin-top:auto;
    }
    
    .development-partial-container {
        color: #724a32;
        font-family: Labrada, serif;
        text-align: center;
    }

    .fellowship-promises-container {
        color: #724a32;
        font-family: Labrada, serif;
        text-align: center;
    }
}