#themekit-selection-app>section.window-content {
    background-image: url("../assets/bg-dark-old-paper-textures.webp");
    background-repeat: no-repeat;
    font-family: $font-primary;
    color: var(--litm-color-accent);

    .left-panel {
        flex-grow: 0.4;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px;
        align-self:flex-start;
    }

    .right-panel {
        align-self: flex-start;
        margin-left: 10px;
        flex-grow: 1;

        .scrollable {
            overflow-y: auto;
            height: 600px;
        }

        mark {
            color: var(--litm-color-accent);
        }
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: $font-primary;
        color: var(--litm-color-accent);
        &.with-line {
            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 6px;
                background-image: url(../assets/header-backline.webp);
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }

    .group-header{
        font-size: 1.2em;
        font-weight: bold;
        color: var(--litm-color-accent);
    }

    .tag-container{
        line-height: 1.5em;
    }
}