.align-start{
    align-items: flex-start;
}

.seperator{
    width: 100%;
    background-image: url(../assets/separator.webp);
    background-repeat: no-repeat;
    height: 15px;
    background-size: contain;
    margin-top: 10px;
}

.box-shadowed{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-shadowed-container{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}