.align-start{
    align-items: flex-start;
}

.seperator{
    width: 100%;
    background-image: url(../assets/separator.webp);
    background-repeat: no-repeat;
    height: 15px;
    background-size: contain;
    margin-top: 10px;
}