$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

$border-groove: 2px groove #eeede0;

body {
	--litm-color-bg: hsl(40, 85%, 87%);
	--litm-color: hsl(40, 27%, 24%);
	--litm-color-alt-bg: hsl(34, 34%, 82%);
	--litm-color-dark-bg: hsl(0, 0%, 45%);
	--litm-color-accent-bg: hsl(225.94 10.66% 41.72%);
	--litm-color-accent: hsl(46.61 81.44% 92.99%);
	--litm-color-accent-2: hsl(24deg 20.72% 43.81%);
	--litm-color-accent-3: hsl(17, 84%, 31%);
	--litm-color-primary-bg: color-mix(
		in hsl,
		var(--litm-color-accent) 75%,
		hsl(0 0% 100%)
	);
	--litm-color-primary: color-mix(in hsl, var(--litm-color) 75%, hsl(0 0% 0%));
	--litm-color-row-odd: rgb(0, 0, 0, 0.1);
	--litm-color-weakness: hsl(10 41.04% 26.41%);
	--litm-color-weakness-bg: hsl(6.5 42.05% 41.08% / 20%);
	--litm-color-muted-bg: hsl(0 0% 45.42% / 20%);
	--litm-color-tag-bg: hsl(45 98% 46% / 70%);
	--litm-color-status-bg: hsl(75.88 48.31% 42.3% / 70%);
	--litm-color-limit-bg: hsl(0 67.35% 63.41% / 70%);
	--litm-tab-text-color: hsl(34, 34%, 82%);

	/* Fonts */
	--litm-font-heading: PackardAntique, CaslonAntique, "Palatino Linotype",
		"Book Antiqua", Palatino, serif;
	--litm-font-primary: CaslonAntique, LibreCaslonText, "Palatino Linotype",
		"Book Antiqua", Palatino, serif;
	--litm-font-accent: AlchemyItalic, "Brush Script MT", "Bradley Hand ITC",
		"Lucida Calligraphy", "Lucida Handwriting", "Apple Chancery", cursive;
	--litm-font-text: Fraunces, LibreCaslonText, "Book Antiqua", Palatino, serif;
	--litm-font-sc: PowellAntique, PackardAntique, Palatino, serif;

	--litm-premium-left-margin: 300px;
}