<div class="themebook-container container-themebook-with-border" data-id="{{backpack._id}}">
    <div class="themebook-style litm-backpack flexcol">
        <h2 class="theme-name">Backpack
            {{#if editMode}}
            <a data-action="createBackpackItem" data-item-id='{{backpack._id}}'>
                <i class='fas fa-plus'></i>
            </a>
            {{else}}
            <i class="themebook-icon litm-backpack"></i>
            {{/if}}
        </h2>

        <div class="powertags-container">
            {{#each backpack.system.items}}
                {{>  'systems/mist-engine-fvtt/templates/shared/litm/storytag-line.hbs'  storytag=this source='backpack' key='system.items' id=../backpack._id index=@index editMode=../editMode firstTag=@first}}
            {{/each}}
        </div>
    </div>
</div>