<div>
    <header class="sheet-header">
        <img class="portrait-img" data-action="editImage" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"
            height="120" />
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        <input type="checkbox" name="system.editMode" {{#if system.editMode}}checked{{/if}}>

    </header>
    <div class="flexrow roll-buttons-container">
        <button data-action="clickRoll" class="roll-quick-button" data-roll-type="quick">Quick Roll</button>
        <button data-action="clickRoll" class="roll-quick-button" data-roll-type="detailed">Detailed Roll</button>
        <button data-action="clickRoll" class="roll-quick-button" data-roll-type="reaction">Reaction Roll</button>
    </div>
</div>