<div class="development-partial-container">
    <input type="radio" class="development-radio">
    <input type="radio" class="development-radio">
    <input type="radio" class="development-radio">
    {{name}}
</div>