<div class="floating-tags-and-status-container container-card-with-border">

    {{> 'systems/mist-engine-fvtt/templates/shared/floating-tags-and-status-partial.hbs'
    floatingTagsAndStatuses=system.floatingTagsAndStatuses
    floatingTagsAndStatusesEditable=system.floatingTagsAndStatusesEditable}}

</div>