<div class="litm-themebook-container" data-id="{{id}}">
    <h2>{{themebook.name}} {{editMode}}</h2>
    <div class="powertags-container">
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=1 powertag=themebook.system.powertag1 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=2 powertag=themebook.system.powertag2 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=3 powertag=themebook.system.powertag3 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=4 powertag=themebook.system.powertag4 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=5 powertag=themebook.system.powertag5 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=6 powertag=themebook.system.powertag6 editMode=editMode}}
        {{> "systems/mist-engine-fvtt/templates/actor/parts/themebook-powertag-line.hbs" index=7 powertag=themebook.system.powertag7 editMode=editMode}}
    </div>
</div>