<div class="grid grid-2col">
    {{#if isGM}}
    <div>
        <div class="scene-app-actor-header">{{localize "MIST_ENGINE.LABELS.Characters"}}</div>
        {{> "systems/mist-engine-fvtt/templates/scene-app/characters.hbs"}}
    </div>
    <div>
        <div class="scene-app-actor-header">{{localize "MIST_ENGINE.LABELS.Challenges"}}</div>
        {{> "systems/mist-engine-fvtt/templates/scene-app/challenges.hbs"}}
    </div>
    {{/if}}
</div>