<div class="scene-app-characters scrollable">
    {{#if isGM}}
    <div>
        <div class="npc-limits-container">
            {{#each characters as |character index|}}
                {{> "systems/mist-engine-fvtt/templates/scene-app/_single_character.hbs" character=character index=index}}
            {{/each}}
        </div>
    </div>
    {{/if}}
</div>