<div class="scene-app-dice-roll-modifiers">
    {{#if hasDiceRollModifiers}}
    <div class="npc-subtitle-container-c">
                <div class="npc-subtitle-text">{{localize 'MIST_ENGINE.LABELS.SceneApp.DiceRollModifiers'}} </div>
            </div>
            <div class="flexcol listing">
                {{#each currentSceneDataItem.system.diceRollTagsStatus}}
                    <div class="mod-entry">{{name}} {{#if ../isGM}}<a class="tag-status-delete" data-action="removeSceneAppRollMod" data-index="{{@index}}" title="{{localize 'MIST_ENGINE.LABELS.SceneApp.RemoveRolMod'}}"><i class="fas fa-trash"></i></a>{{/if}}</div>
                {{/each}}
            </div>
    {{/if}}
</div>