<div>
    {{> 'systems/mist-engine-fvtt/templates/shared/floating-tags-and-status-partial.hbs'
            floatingTagsAndStatuses=currentSceneDataItem.system.floatingTagsAndStatuses floatingTagsAndStatusesEditable=currentSceneDataItem.system.floatingTagsAndStatusesEditable}}
</div>