{{#if isCritical}}
<div class="roll-result">
        <span class="critical-roll">Critical Roll Double Sixes</span>
    </div>
{{/if}}

{{#if isFumble}}
<div class="roll-result">
        <span class="fumble-roll">Fumble Roll Double Ones</span>
</div>
{{/if}}