<form class="roll-card">
    <div class="card-title">
        {{label}}
    </div>
    <div class="selected-tags">
        {{#each selectedTags}}
        <span class="tag {{#if this.positive}}positive{{else}}negative{{/if}} {{#if this.toBurn}}burned{{/if}}">{{this.name}}</span>
        {{/each}}
    </div>
    <div class="roll-result">
        {{{diceRollHTML}}}
    </div>
    <div class="consequence-container">
        {{#if (eq consequenceResult -1)}}
        <div class="consequence-result-negative">

            <span class="heading"><i class="consequence-result-icon negative"></i>6-</span>
            <p>Suffer the Consequences as-is
            </p>
        </div>
        {{/if}}
        {{#if (eq consequenceResult 0)}}
        <div class="consequence-result-neutral">
            <span class="heading"><i class="consequence-result-icon neutral"></i>7-9</span>
            <p>
                Spend your Power, only to lessen the Consequences
            </p>
            <p>
            </p>
        </div>
        {{/if}}
        {{#if (eq consequenceResult 1)}}
        <div class="consequence-result-positive">
            <span class="heading"><i class="consequence-result-icon positive"></i>10</span>
            <p>Spend your Power plus 1, on any Effect
            </p>
        </div>
        {{/if}}
    </div>
</form>