<div class="roll-dialog-container">
    <div class="selected-tags-container flexcol">
        {{#each selectedTags}}
        <div class="tag {{#if this.positive}}positive{{else}}negative{{/if}}">{{#if this.toBurn}}🔥 {{/if}}{{this.name}}</div>
        {{/each}}
    </div>
     <div class="form-group">
        <label class="resource-label">Positive Mods:</label>
        <div class="flexrow">
            <i class="fa-solid fa-minus" style="text-align:center" id="button-positive-minus"></i>
            <input type="number" name="positiveValue" value="0" data-dtype="Number" id="positiveInput"/>
            <i class="fa-solid fa-plus" style="text-align:center" id="button-positive-plus"></i>
        </div>
    </div>
     <div class="form-group">
        <label class="resource-label">Negative Mods:</label>
        <div class="flexrow">
            <i class="fa-solid fa-minus" style="text-align:center" id="button-negative-minus"></i>
            <input type="number" name="negativeValue" value="0" data-dtype="Number" id="negativeInput"/>
            <i class="fa-solid fa-plus" style="text-align:center" id="button-negative-plus"></i>
        </div>
    </div>
</div>