<header class="item-header">
    <div class="flexrow">
    <img class="item-img" data-action="editImage" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="60" style="flex-grow: 0.25;"/>
    <div class="flexcol">
        <h2 class="item-name" style="flex-grow: 4;"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h2>
        <input type="text" name="system.themekit_type" value="{{item.system.themekit_type}}" placeholder="Type, e.g. Skill Or Trade" />
    </div>
    </div>
</header>