<div class="item-powertag-line flexrow">
    <strong style="flex-grow:0.3;">{{questionIndexToLetter index}}</strong> <input type="text" name="system.powertag{{index}}.question" value="{{powertag.question}}" placeholder="{{powerTagQuestionPlaceholder index powertag.question}}" style="flex-grow:8;"/>
</div>