<div class="item-weakness-line flexrow">
    <strong style="flex-grow:0.3;">{{questionIndexToLetter index}}</strong> <input type="text" name="system.weaknesstag{{index}}.question" value="{{weakness.question}}" placeholder="{{weaknessTagQuestionPlaceholder index weakness.question}}" style="flex-grow:8;"/>
</div>