<div class="item-special-improvement-line flexcol" style="gap: 0.25em; margin-bottom: 0.5em;">
    <input type="text" name="system.specialImprovements.{{index}}.name" value="{{imp.name}}" placeholder="Special Improvement Name" />
    <textarea rows="2" style="flex-grow: 1;" 
        name="system.specialImprovements.{{index}}.description" placeholder="Special Improvement Description">{{imp.description}}</textarea>
</div>