.editor{
  &.prosemirror{
    height: 100%;
  }
}

.editor-content{
  h1{
    color: $c-styled-text;
    font-family: $font-primary;
  }

  h2{
    color: $c-styled-text;
    font-family: $font-primary;
  }

  h3{
    color: $c-styled-text;
    font-family: $font-primary;
  }

  h3 {
        // if want to display the image assets/icons/header-backline after the header text in the same line
        display: flex;
        align-items: center;

        &.with-line {
            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 6px;
                background-image: url(../assets/header-backline.webp);
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }

    .line-with-image {
        img {
            display: inline;
            margin-right: 3px;
        }

        p {
            display: inline;
        }
    }
}