@font-face {
  font-family: Labrada;
  src: url("../assets/fonts/Labrada-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Caveat-Regular;
  src: url("../assets/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
}


.labrada-normal {
  font-family: "Labrada", serif;
  font-optical-sizing: auto;
  font-weight:  normal;
  font-style: normal;
}

.caveat-regular {
  font-family: "Caveat-Regular", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}