@font-face {
  font-family: Labrada;
  src: url("../assets/fonts/Labrada-Regular.ttf") format("truetype");
  font-weight: normal;
}

.labrada-normal {
  font-family: "Labrada", serif;
  font-optical-sizing: auto;
  font-weight:  normal;
  font-style: normal;
}