@font-face {
  font-family: Labrada;
  src: url("../assets/fonts/Labrada-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Caveat-Regular;
  src: url("../assets/fonts/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/fraunces.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Fraunces;
  src: url("../assets/fonts/fraunces-i.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: CaslonAntique;
  src: url("../assets/fonts/caslon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CaslonAntique;
  src: url("../assets/fonts/caslon-i.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: CaslonAntique;
  src: url("../assets/fonts/caslon-b.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: CaslonAntique;
  src: url("../assets/fonts/caslon-bi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: LibreCaslonText;
  src: url("../assets/fonts/caslon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: LibreCaslonText;
  src: url("../assets/fonts/caslon-i.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: LibreCaslonText;
  src: url("../assets/fonts/caslon-b.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: LibreCaslonText;
  src: url("../assets/fonts/caslon-bi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: PackardAntique;
  src: url("../assets/fonts/packard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PackardAntique;
  src: url("../assets/fonts/packard-b.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: PowellAntique;
  src: url("../assets/fonts/powell.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: PowellAntique;
  src: url("../assets/fonts/powell-b.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: AlchemyItalic;
  src: url("../assets/fonts/alchemy-i.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


.labrada-normal {
  font-family: "Labrada", serif;
  font-optical-sizing: auto;
  font-weight:  normal;
  font-style: normal;
}

.caveat-regular {
  font-family: "Caveat-Regular", cursive;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}