header.journal-page-header{
    display: none;
}

.journal-entry-content {
    background-image: url(../assets/bg-pargement-texture.webp);
    background-repeat: no-repeat;
    row-gap: 0.5em;
    color: $c-dark-styled-text;
    font-family: $font-primary;
    font-size: 1.1em;

    .themekit-box {
        @include themekit-box;
    }

    .letter-box {
        @include letter-box;
    }

    .themekit-big-box {
        @include themekit-big-box;
    }



    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $c-text-redish;
        font-family: $font-primary;
        text-transform: uppercase;
        font-weight: 900;

        &.with-line {
            display: flex;
            align-items: center;
            border-bottom: 0;

            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 6px;
                background-image: url(../assets/header-backline.webp);
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }

    .heading-wrapper-medival {
        position: relative;
        display: inline-block;
        text-align: center;
        h1 {
            border-bottom: 0;
            font-family: Ysgarth, serif;
        }
    }

    .themebook-title-wrapper{
        // flexrow
        display: flex;
        align-items: flex-end;

        img{
            display: inline-block;
             width: 30px;
             height: 30px;
             position: relative;
                top: -5px;
                margin-right: 5px;
        }
        h2{
            border-bottom: 0;
        }
    }

    .underline-graphic {
        display: block;
        width: 100%;
        margin-top: -8px;
        /* an den Text heranschieben */
    }

    .line-with-image {
        img {
            display: inline;
            margin-right: 3px;
        }

        p {
            display: inline;
        }
    }

    .bigger-redish-text {
        color: $c-text-redish;
        font-size: 1.2em;
    }

    .redish-text {
        color: $c-text-redish;
    }

    .tag {
        background-color: $c-tag-orange;
        font-style: italic;
    }

    .status {
        background-color: $c-tag-green;
        font-style: italic;
    }

    .notes {
        background-image: url(../assets/notes_darker_2.webp);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 30px;
    }

    .note-written-text {
        font-family: $font-written;
        font-size: 1.2em;
    }

    .callout {
        border: 2px solid black;
        color: $c-dark-styled-text;
        font-family: $font-primary;
        font-size: 1.2em;
    }
}

/* fix for Campaign Codex */
article.cc-enriched section.journal-entry-content {
    background: transparent !important;
}