#pause.paused {
	animation: none;
	gap: 0px;

	img {
		will-change: filter;
		animation: pulse 3s infinite ease-in-out;
		opacity: 80%;
		object-fit: contain;
		width: 180px;
		height: 180px;
		left: calc(50% - 90px);
		rotate: 39deg;
		margin-block: -35px -10px;
	}

	figcaption {
		will-change: filter;
		animation: pulse 3s infinite ease-in-out;
		color: var(--litm-color-accent);
		text-shadow: 2px 2px 2px var(--litm-color);
		font-family: var(--litm-font-heading);
		font-weight: 800;
		letter-spacing: 2.5px;
		padding: 0;
		margin: 0;
	}
}

@media (prefers-reduced-motion) {
	#pause {
		animation: none;
	}
}

/* Animations */
@keyframes pulse {
	0% {
		filter: drop-shadow(0 0 0 transparent);
	}

	50% {
		filter: drop-shadow(0 0 4px var(--litm-color-alt-bg));
	}

	100% {
		filter: drop-shadow(0 0 0 transparent);
	}
}