.window-app {
  font-family: $font-primary;
}

.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}

.clickable {
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.mist-engine.tag {
  border-radius: 2px;
  font-weight: bold;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: $c-tag-yellow;
}

.mist-engine.status {
  border-radius: 2px;
  font-weight: bold;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: $c-tag-green;
}

.mist-engine.limit {
  border-radius: 2px;
  font-weight: bold;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background: $c-tag-red;
}
