<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form"
    data-tab="{{tabs.form.id}}" data-group="{{tabs.form.group}}">
    <div class="box-shadowed-container">
        <div class="flexrow">
            <label><strong>Type</strong></label>
            <select name="system.type" >
                <option value="">-</option>
                <option value="litm-origin" {{#if (eq system.type "litm-origin")}}selected{{/if}}>LitM - Origin</option>
                <option value="litm-adventure" {{#if (eq system.type "litm-adventure")}}selected{{/if}}>LitM - Adventure</option>
                <option value="litm-variable" {{#if (eq system.type "litm-variable")}}selected{{/if}}>LitM - Variable</option>
                <option value="litm-greatness" {{#if (eq system.type "litm-greatness")}}selected{{/if}}>LitM - Greatness</option>
            </select>
        </div>
    </div>
    <div class="box-shadowed-container">
        <div class="flexrow">
            <label><strong>Color</strong></label>
            <select name="system.color" >
                <option value="">-</option>
                <option value="litm-origin" {{#if (eq system.color "litm-origin")}}selected{{/if}}>Green</option>
                <option value="litm-adventure" {{#if (eq system.color "litm-adventure")}}selected{{/if}}>Brown</option>
                <option value="litm-variable" {{#if (eq system.color "litm-variable")}}selected{{/if}}>Black</option>
                <option value="litm-greatness" {{#if (eq system.color "litm-greatness")}}selected{{/if}}>Purple</option>
            </select>
        </div>
    </div>
    <div class="box-shadowed-container">
        <div class="item-powertag-line flexrow">
            <h4 class="with-line">Questions</h4>
        </div>
        {{#each system.powertags as |powertag index|}}
        {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=index powertag=powertag}}
        {{/each}}

        {{#each system.weaknesstags as |weakness index|}}
        {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-weakness-line.hbs" index=index weakness=weakness}}
        {{/each}}
    </div>
    <div class="box-shadowed-container">
        <h4 class="with-line">Special Improvements</h4>
        {{#each system.specialImprovements as |imp index|}}
            {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-special-improvement-line.hbs" index=index imp=imp}}
        {{/each}}
    </div>
</section>