<section class="tab {{tabs.form.id}} {{tabs.form.cssClass}} scrollable" id="form"
    data-tab="{{tabs.form.id}}" data-group="{{tabs.form.group}}">
    <div>
        <select name="system.type" >
            <option value="">-</option>
            <option value="litm-origin" {{#if (eq system.type "litm-origin")}}selected{{/if}}>LitM - Origin</option>
            <option value="litm-adventure" {{#if (eq system.type "litm-adventure")}}selected{{/if}}>LitM - Adventure</option>
            <option value="litm-variable" {{#if (eq system.type "litm-variable")}}selected{{/if}}>LitM - Variable</option>
            <option value="litm-greatness" {{#if (eq system.type "litm-greatness")}}selected{{/if}}>LitM - Greatness</option>
        </select>
    </div>
    <div class="item-powertag-line flexrow">
        Question
    </div>
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=1 powertag=system.powertag1}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=2 powertag=system.powertag2}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=3 powertag=system.powertag3}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=4 powertag=system.powertag4}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=5 powertag=system.powertag5}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=6 powertag=system.powertag6}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-powertag-line.hbs" index=7 powertag=system.powertag7}}

    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-weakness-line.hbs" index=1 weakness=system.weaknesstag1}}
    {{> "systems/mist-engine-fvtt/templates/item/parts/themebook-weakness-line.hbs" index=2 weakness=system.weaknesstag2}}
</section>